@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
}

svg {
  color: var(--gh4-gray-3);
  cursor: pointer;
}

img {
  text-align: center;
  vertical-align: middle;
}

.image-round-full {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: white;
}

/* @media (hover: hover) {
  a:hover {
    color: var(--gh4-blue);
    text-decoration: under;
  }
} */
