@import './base.css';

#app {
  /* max-width: 1440px; */
  max-width: 1996px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}

svg {
  color: var(--gh4-gray-3);
  cursor: pointer;
}

img {
  text-align: center;
  vertical-align: middle;
  object-fit: cover;
  overflow: hidden;
  background-color: var(--vt-c-black-hard);
}

.rounded-full {
  border-radius: 50%;
}

/* @media (hover: hover) {
  a:hover {
    color: var(--gh4-blue);
    text-decoration: under;
  }
} */
